*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'open sans';
    background-color: grey;
}

/* header */

nav{
    width: 100%;
    background-color:  black;
    text-align: center;
    padding: 30px 0 0 0;
}

nav > a{
    color: orangered;
    font-weight: 300;
    text-decoration: 10px;
    margin-right: 40px;
    font-size: 15px;
    font-family: x-large;
}

nav > a:hover{
    text-decoration: underline;
}

/* Menu pegajoso */

.menu-fixed{
    position: fixed;
    z-index: 1000;
    top: 0%;
}



/*main*/

main{
margin: 5%;
margin-left: 10%;
}

main > img{
    width: 500px;
    height: 100%;
}


/* footer */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom:  1px solid #ccc;
}

.contenedor-foo{
    text-align: center;
}

.contenedor-foo h4{
    color: #fff;
    border-bottom: 3px solid orange;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.contenedor-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0 ;
    color: #9e9797;
}